@tailwind base;

@tailwind components;

.invert {
  -webkit-filter: brightness(0) invert(100%); /* safari 6.0 - 9.0 */
          filter: brightness(0) invert(100%);
}

.button-base {
  @apply bg-transparent;
  @apply font-semibold;
  @apply border-4;
  @apply border-white;
  @apply text-white;
  border-radius: 1rem;
  height: 7rem;
  width: 7rem;
  font-size: 10px;
  @apply mx-2;
  margin-top: 9px;
  transition: all .5s;
}



.button-base img{
  transition: all .6s;
  @apply mb-1
}

.button-base img {
  @apply w-3/6;
}

@media (hover: hover) and (pointer: fine) {
  .button-base:hover {
    @apply border-8;
    @apply text-transparent
    }
  
  .button-base:hover img {
    @apply mt-8;
    @apply w-4/6;
  }
}

.button-base:active {
  @apply border-8;
  @apply text-transparent
}

.button-base:active img {
  @apply mt-8;
  @apply w-4/6;
}


@screen xs {
    .button-base{
        height: 7.5rem;
        width: 7.5rem;
        font-size: 11px;
        @apply mx-2;
        margin-top: 9px;
    }
}

@media (min-width: 640px) and (orientation: portrait) {
  .button-base{
    height: 12rem;
    width: 12rem;
    font-size: 14px;
    @apply mx-4;
    @apply my-4;
}
}

@screen md {
  .button-base{
    height: 13rem;
    width: 13rem;
    font-size: 18px;
    @apply mx-5;
    @apply my-5;
  }
}

@screen xl {
  .button-base{
    height: 16rem;
    width: 16rem;
    font-size: 24px;
    @apply mx-5;
    @apply my-5;
  }
}



@tailwind utilities;


@layer base {
/*   @font-face {
    font-family: 'archivo_blackregular';
    src: url('../../src/assets/font/archivoblack-webfont.woff') format('woff2'),
          url('../../src/assets/font/archivoblack-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  } */

  @font-face {
    font-family: 'steelfishregular';
    src: url('../font/steelfish_rg-webfont.woff2') format('woff2'),
          url('../font/steelfish_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "AvantGarde-Medium";
  
    src: url("../font/ITCAvantGardeGothicMedium.woff") format("woff"), /* Modern Browsers */
      url("../font/ITCAvantGardeGothicMedium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
}